.album {
  padding: 0 1.5rem;
}

.album-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.albumBtn {
  margin: 10px 0;
  border: 1px solid lightgray;
}
