.fav-collection {
  margin: 0;
  padding: 0;
  height: auto;
  background-image: url("https://static.vecteezy.com/system/resources/previews/004/750/612/original/flat-design-abstract-background-soft-liquid-shapes-template-with-modern-gradient-background-colors-cool-aesthetic-background-design-suitable-for-social-media-post-mobile-app-banner-web-ads-free-vector.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
